* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #abbda9;
}

.about {
  padding: 100px 0 20px 0;
  text-align: center;
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.about-info {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.about-info h3 {
  text-align: center;
  padding: 20px 0;
}

.about-img {
  width: 20rem;
  height: 20rem;
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.about-info p {
  font-size: 1.3rem;
  margin: 0 2rem;
  text-align: justify;
}

/* Team Section */
.team {
  padding: 30px 0;
  text-align: center;
}

.team h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background-color: rgb(101, 95, 95);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 18rem;
  height: 25rem;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
  width: 18rem;
  height: 12rem;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-info button {
  margin: 2rem 1rem;
}

.card-name {
  font-size: 2rem;
  margin: 10px 0;
}

.card-role {
  font-size: 1rem;
  color: #888;
  margin: 5px 0;
}

.card-email {
  font-size: 1rem;
  color: #555;
}

/* aboutus.css */

.visionmission {
  position: relative;
}

.mission {
  position: relative;
  top: -19;
  left: 0;
  width: 100%;
  transition: opacity 3.5s ease-in-out;
}

.vission {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  transition: opacity 3.5s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  /* Prevent interaction with hidden elements */
}

/* sliding section */
@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: 105%;
  }
}

.logo:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 105%;
  animation: slide 6.5s ease infinite;
  background: rgb(52, 40, 40);
  /* box-shadow: 0 0 15px white, 0 0 10px white, 0 0 5px white; */
}

/* p styling */

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.visionmission p:nth-child(1) {
  animation-delay: 0s;
  /* Delay for the first paragraph */
}

.visionmission p:nth-child(2) {
  animation-delay: 5s;
  /* Adjust the delay for subsequent paragraphs */
}

@media (max-width: 768px) {
  nav {
    display: block;
  }

  .logo {
    text-align: center;
  }

  .nav-links {
    margin-top: 1rem;
    justify-content: space-between;
  }

  .nav-links li {
    margin-right: 0;
  }

  .about h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 0.9rem;
  }

  .about-info {
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    width: 60%;
    height: 60%;
    margin-bottom: 1rem;
  }

  .about-info p {
    margin: 1rem 2rem;
  }

  .about-info button {
    margin: 1rem 2rem;
    width: 10rem;
  }

  .team {
    margin: 0 1rem;
  }
}
